<div class="mx-2 lg:mx-10 bg-[#0A0908] text-[#F2F4F3] mt-5 rounded-lg px-4 py-5">
    <div>
        <p class="text-xl font-bold">Settings</p>
        <p class="text-[#A9927D]">Manage your store's products</p>
    </div>

    <div class="flex justify-between items-center ">
        <form id="settings-form" method="POST" action="{% url 'seller:settings' %}">
            {% csrf_token %}
            <div class="form-control">
                <label class="label text-lg font-semibold">Username</label>
                <input value="{{ user.username }}" type="text" name="username" class="input input-bordered w-full bg-[#A9927D] text-black focus:outline-none" required>
            </div>
            <div class="form-control">
                <label class="label text-lg font-semibold">Email</label>
                <input value="{{ user.email }}" type="text" name="email" class="input input-bordered w-full bg-[#A9927D] text-black focus:outline-none" required>
            </div>
            <button id="submit-btn" type="submit" class="btn mt-5 bg-[#5E503F]">Update Profile</button>
        </form>

    </div>
</div>


<script>
    document.addEventListener("DOMContentLoaded", function () {
    const form = document.getElementById("settings-form");
    const button = document.getElementById("submit-btn");

    form.addEventListener("submit", function (e) {
        // Prevent default form submission
        e.preventDefault();

        // Disable button and show loading text
        button.disabled = true;
        button.innerText = "Wait...";

        // Now submit the form manually
        form.submit();
    });
});
</script>